<h1>A favorite item of your's: '<%=@favorite.item.title%></h1>
<p>
	<%  @favorite.item.item_images.each do |listing_image| %>
		<%= link_to(image_tag(listing_image.image.url(:small)), listing_image.image.url(:large)) %>
	<%end %>
</p>
<%= form_for @favorite do |f| %>
  <% if @favorite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @favorite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<% if @favorite.note.present? %>
	<%= @favorite.note %>
	<% else %>
    <%= f.label :Add_a_note %><br />
    <%= f.text_area :note%>
	<% end %>
  </div>
    <%= f.hidden_field :item_id %>
	<%= f.hidden_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<!-- :url => favorites_url(@favorite_id) -->