<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>State:</b>
  <%= @user.state_id %>
</p>

<p>
  <b>Zip:</b>
  <%= @user.zip %>
</p>

<p>
  <b>Neighborhood:</b>
  <%= Neighborhood.find(@user.neighborhood_id).name %>
</p>

<p>
  <b>Seller:</b>
  <%= @user.seller? ? "Yes" : "No" %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>



