<h1><%="Welcome " + @user.first_name + "!"%></h1>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>

  <h3>Nearby Items</h3>
  <ul>
  <% @user.nearbys(50).each do |user| %>
    <% user.items.each do |item| %>
      <li><%= link_to item.title, item_url %> (<%= user.distance.round(2) %> miles)</li>
      <% end %>
  <% end %>
  </ul>

	<h4>My Items for Sale</h4>
	
	<%= render 'items/userlisting' %>